<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calculosalario">

    <application
        android:allowBackup="true"
        android:label="CalculadoraSalario"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">


        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".CadastroActivity"
            android:exported="false" />


        <activity
            android:name=".CalculadoraActivity"
            android:exported="false" />

    </application>

</manifest>
